rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth.uid != null;
    }

    match /patients/{patientId} {
      allow read, update: if isSignedIn() && resource.id == request.auth.uid

      function getPatientData() {
        return get(/databases/$(database)/documents/patients/$(patientId))
      }

      match /locations/{locationId} {
        allow read, create: if isSignedIn() && getPatientData().id == request.auth.uid
      }
    }
  }
}