rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedInAndVerified() {
      return request.auth.uid != null && request.auth.token.email_verified;
    }

    function isAdminUser() {
      return request.auth.token.email.matches('.*@(un[.]org|who[.]int)') && request.auth.token.email_verified;
    }

    function notUpdating(field) {
      return !(field in request.resource.data) || resource.data[field] == request.resource.data[field];
    }

    match /patients/{patientId} {
      function isSamePatient() {
        return isSignedInAndVerified() && resource.id == request.auth.uid
      }

      allow read: if isAdminUser() || isSamePatient()
      allow update: if isAdminUser() || (isSamePatient() && notUpdating('verified'))

      function getPatientData() {
        return get(/databases/$(database)/documents/patients/$(patientId))
      }

      match /locations/{locationId} {
        allow read, create: if isSignedInAndVerified() && getPatientData().id == request.auth.uid
      }
    }
  }
}